.login > div > img {
    object-fit: contain;
    height: 150%;
}

.login > img {
    display: flex;
    flex-direction: column;
}


.login > button {
    width: 300px;
    background-color: white;
    color: black;
    font-weight: 800;
}

.login > button:hover {
    background-color: lightgreen;
    color: black;
}

.login__logo {
    align-items: center;
} 