.header {
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgb(0, 0, 0, 75);
}

.header__left {
    display: flex;
    justify-content: space-evenly;
}

.SearchBar__input {
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
}

.SearchBar__input > input {
    border: none;
    background-color: transparent;
    outline: 0;
}


.header__left > img {
    height: 40px;
}

.header__middle {
    display: flex;
    flex-direction: row;
}

.Header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: black;
    text-decoration: solid;
    text-transform: uppercase;
    outline: none;
    padding: 0 30px;
    cursor: pointer;
}

.Header__item:hover {
    color: rgba(0, 228, 49, 0.671);
}

.profile_image {
    display: flex;
    align-items: center;
}

.profile_image > h4 {
    margin-left: 10px;
}

.header__right {
    display: flex;
}