.header__left > img {
    height: 40px;
}

.header__middle {
    display: flex;
    flex-direction: row;
}

.Header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: black;
    text-decoration: solid;
    text-transform: uppercase;
    outline: none;
}